In [1]:
import pandas as pd
import numpy as np

In [3]:
scores1 = pd.read_csv("HW1_scores.csv")
scores2 = pd.read_csv("HW1_scores2.csv")

In [27]:
score_col = ["Name", "SID", "1: Autograder (90.0 pts)"]
merge_col = ["Name", "SID"]
scores1 = scores1[score_col]
scores2 = scores2[score_col]

both_score = pd.merge(scores1, scores2, on = merge_col)

In [28]:
scores1.loc[scores1["SID"].isin(scores2.loc[:, "SID"]) == False]

             Name        SID  1: Autograder (90.0 pts)
234  Cyril Gorlla  A15671985                       NaN

In [30]:

both_score["Autograder Max"] = both_score.apply(lambda x : 
                                                x["1: Autograder (90.0 pts)_x"] 
                                                if x["1: Autograder (90.0 pts)_x"] >= x["1: Autograder (90.0 pts)_y"] 
                                                else x["1: Autograder (90.0 pts)_y"],
                                                axis=1)

In [32]:
both_score.to_csv("maxScores.csv")